body {
	font-family: 'Helvetica Neue', Arial, sans-serif;
}
.project-name {
	font-size: 3rem;
	font-weight: 100;
	line-height: normal;
}
.project-tagline::before  { 
    content: open-quote;
}
.project-tagline::after  { 
    content: close-quote;
}
.project-tagline {
	font-style: italic;
	font-size: 1rem;
	margin-top: 0;
}
.main-content,
.site-footer {
	font-size: 0.85rem;
}
.main-content {
	h2 {
		margin-bottom: 0;
		margin-top: 1rem;
	}
	p {
		margin: 0;
	}
	pre > code {
		font-size: 0.75rem;
	}
	h3,
	h3:first-child {
		margin: 10px 0 0 0px;
	}
}

